@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Space+Grotesk:wght@500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  color: #141a26;
}

#root {
  min-height: 100vh;
}
